# Node modules
node_modules
**/node_modules

# Test and coverage
*.test.js

# Build artifacts
dist
build

# Environment files
.env
.env.local
.env.*.local

# Docker-related
Dockerfile
.dockerignore

# Version control
.git
.gitignore
